<!DOCTYPE html> 
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>11000's Doctors appointment</title>
	<link type="image/x-icon" href="assets/img/favicon.png" rel="icon">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
		<div class="main-wrapper">
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a th:href="${baseUrl}" class="navbar-brand logo">
							<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a th:href="${baseUrl}" class="menu-logo">
								<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="active">
								<a th:href="${baseUrl}">Home</a>
							</li>
							<li>
								<a href="#" onclick="showtrackapplication()">Track Application</a>
							</li>
							<li class="login-link">
								<a href="login.html">Login / Signup</a>
							</li>
						</ul>		 
					</div>		 
					<ul class="nav header-navbar-rht">
						<li class="nav-item">
							<a class="nav-link header-login" href="login.html">login / Signup </a>
						</li>
					</ul>
				</nav>
			</header>
			<section class="section section-search">
				<div class="container-fluid">
					<div class="banner-wrapper">
						<div class="banner-header text-center">
							<h1>Search Doctor, Make an Appointment</h1>
							<p>Discover the best doctors, clinic & hospital the city nearest to you.</p>
						</div>
                         
						<!-- Search -->
						<div class="search-box" id="contentmaindiv">
							<form action="/displayappointmentPage" id="searchform">
								<div class="form-group search-location">
									<select class="form-control" name="dzongkhag" id="dzongkhag" onchange="gethospitaldoctors(this.value,'hospital','hospital')" onclick="removeError('dzongkhag_err')">
										<option value="">Select Dzongkhag</option>
										 <option th:each="dzo: ${dzongkhaglist}" th:value="${dzo.Id}"
               								th:text="${dzo.Dzongkhag_Name}"></option>
									</select>
									<span id="dzongkhag_err" class="text-danger"></span>
								</div>
								<div class="form-group search-location">
									<select class="form-control" name="hospital" id="hospital" onchange="gethospitaldoctors(this.value,'doctor','doctor')" onclick="removeError('hospital_err')">
										<option value="">Select Hospital</option>
									</select>
									<span id="hospital_err" class="text-danger"></span>
								</div>
								<div class="form-group pr-2">
									<select class="form-control" name="doctor" id="doctor" onclick="removeError('doctor_err')">
										<option value="">Select Doctor</option>
									</select>
									<span id="doctor_err" class="text-danger"></span>
								</div>
								<div class="form-group pr-2">
									<input type="text" name="cid" id="cid" placeholder="CID" class="form-control" onclick="removeError('cid_err')">
									<span id="cid_err" class="text-danger"></span>
								</div>
								<button type="button" class="btn btn-primary search-btn" onclick="searchdetails()"><i class="fas fa-search"></i> <span>Search</span></button>
							</form>
							<form action="/searchDetails" id="trackform" style="display:none">
								<div class="form-group search-location"></div>
								<div class="form-group">
									<div class="form-group pr-2">
										<input type="text" name="trackappid" id="trackappid" placeholder="Enter your CID/Mobile Number" class="form-control" onclick="removeError('trackappid_err')">
										<span id="trackappid_err" class="text-danger"></span>
										
									</div>
								</div>
								<button type="button" class="btn btn-primary search-btn" onclick="searchdetailstotrack()"><i class="fas fa-search"></i> <span>Search</span></button>
							</form>
						</div>						
					</div>
				</div>
			</section>
			
			<!-- Footer -->
			<footer class="footer">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="assets/img/footer-logo.png" alt="logo">
									</div>
									<div class="footer-about-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
										<div class="social-icon">
											<ul>
												<li>
													<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Patients</h2>
									<ul>
										<li><a href="search.html"><i class="fas fa-angle-double-right"></i> Search for Doctors</a></li>
										<li><a href="login.html"><i class="fas fa-angle-double-right"></i> Login</a></li>
										<li><a href="register.html"><i class="fas fa-angle-double-right"></i> Register</a></li>
										<li><a href="booking.html"><i class="fas fa-angle-double-right"></i> Booking</a></li>
										<li><a href="patient-dashboard.html"><i class="fas fa-angle-double-right"></i> Patient Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Doctors</h2>
									<ul>
										<li><a href="appointments.html"><i class="fas fa-angle-double-right"></i> Appointments</a></li>
										<li><a href="chat.html"><i class="fas fa-angle-double-right"></i> Chat</a></li>
										<li><a href="login.html"><i class="fas fa-angle-double-right"></i> Login</a></li>
										<li><a href="doctor-register.html"><i class="fas fa-angle-double-right"></i> Register</a></li>
										<li><a href="doctor-dashboard.html"><i class="fas fa-angle-double-right"></i> Doctor Dashboard</a></li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-3 col-md-6">
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">Contact Us</h2>
									<div class="footer-contact-info">
										<div class="footer-address">
											<span><i class="fas fa-map-marker-alt"></i></span>
											<p> 3556  Beech Street, San Francisco,<br> California, CA 94108 </p>
										</div>
										<p>
											<i class="fas fa-phone-alt"></i>
											+1 315 369 5943
										</p>
										<p class="mb-0">
											<i class="fas fa-envelope"></i>
											doccure@example.com
										</p>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0"><a href="templateshub.net">Templates Hub</a></p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
								
									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											<li><a href="term-condition.html">Terms and Conditions</a></li>
											<li><a href="privacy-policy.html">Policy</a></li>
										</ul>
									</div>
									<!-- /Copyright Menu -->
									
								</div>
							</div>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		   
	   </div>
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/slick.js"></script>
		<script src="assets/js/script.js"></script>
		<script>
		function gethospitaldoctors(valu, type, targetId){
			$('#'+targetId).empty();
			$('#'+targetId).append("<option value=''>SELECT</option>");
				$.ajax({
			        url: "/gethosptaldoctor?paramvalue="+valu+"&paramtype="+type,
			        type: "GET",
			        cache: false,
					async: false,
					dataType : "json",
			        success: function (data) {
			        	setTimeout(function(){
							 for (var i = 0; i < data.length; i++) {
								 $('#'+targetId).append("<option value=" + data[i].headerId + ">"+ data[i].headerName + "</option>");
						    }
					   	}, 10);
			        },
			        error: function () {
			          // Handle upload error
			          $("#upload-file-message").text(
			              "File not uploaded (perhaps it's too much big)");
			        }
			      });
			}
			function searchdetails(){
				if(validatesearch()){
					$('#searchform').submit();
				}
			}
			function validatesearch(){
				var returntype=true;
				if($('#dzongkhag').val()==""){
					$('#dzongkhag_err').html('Please select dzongkhag');
					returntype=false;
				}
				if($('#hospital').val()==""){
					$('#hospital_err').html('Please select Hospital');
					returntype=false;
				}
				if($('#doctor').val()==""){
					$('#doctor_err').html('Please select Doctor');
					returntype=false;
				}
				if($('#cid').val()==""){
					$('#cid_err').html('Please provide your CID');
					returntype=false;
				}
				if($('#cid').val().length!=11){
					$('#cid_err').html('Your cid should be 11 digit');
					returntype=false;
				}
				return returntype;
			}
			function removeError(erroId){
				$('#'+erroId).html('');		
				
			}
			function showtrackapplication(){
				$('#trackform').show();
				$('#searchform').hide();
			}
			function searchdetailstotrack(){
				if($('#trackappid').val()==""){
					$('#trackappid_err').html('please provide');
				}
				else{	
					let url="/searchDetails?paramvalue="+$('#trackappid').val();
					$.ajax({
				        url: url,
				        type: "GET",
				        cache: false,
						async: false,
						dataType : "json",
				        success: function (data) {
				        	let searchresult="<table style='width:100%' class='table-responsive table-sm text-center table-bordered'><tr><th>Sl. No</th><th>Patient Name</th><th>Assigned Doctor</th><th>Disease</th><th>Action Date</th><th>Status</th> </tr>";
				        	if(data.length>0){
				        		for (var i = 0; i < data.length; i++) {
					        		searchresult+="<tr><td>"+(i+1)+"</td><td>"+data[i].patientName+"</td><td>"+data[i].doctorname+"</td><td>"+data[i].Disease_Name+"</td><td>"+data[i].Created_On+"</td><td>"+data[i].Status_Name+"</td></tr>"
							    }
				        	}
				        	else{
				        		searchresult+="<tr><td colspan='6'>No data found</td></tr>";
				        	}
				        	searchresult+="</table>";
				        	$('#contentmaindiv').html(searchresult);
				        },
				        error: function () {
				          $("#contentmaindiv").text("Not able to load the detils");
				        }
			      	});
				}
			}
		</script>
	</body>
</html>